.leadboard {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto 1fr;
  gap: 2rem;
  height: 100%;
  width: 100%;
  padding-bottom: 1rem;
}

.leadboard header {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  gap: .6rem;
  color: rgb(var(--theme-light-color));
}
.leadboard h2 {}
.leadboard p {}
.leadboard button {}

/* ================================
 * ==== TABLES ===
 * ================================
 */
table, th, td {
  border: 2px solid rgb(var(--primary-color));
  border-collapse: collapse;
  width: 100%;
}
th, td {
  padding: .4rem 1rem;
  text-align: center;
}
tbody tr:nth-child(odd) td {
  background: rgb(var(--theme-light-color));
  color: rgb(var(--primary-color));
}
tbody tr:nth-child(even) td {
  background: rgb(var(--theme-light-green-color));
  color: rgb(var(--theme-light-color));
}

.leadboard-table {
  justify-self: center;
  height: fit-content;
  width: clamp(280px, 100%, 720px);
}

.leadboard-table thead th {
  background-color: rgb(var(--secondary-color));
  color: rgb(var(--theme-dark-color));
}

.leadboard-table thead {
  height: 54px;
}

/* remove the time column from small screen, we can make it visible on larger screen */
.leadtable-col__time {
  display: none;
}


.looser-table {
  display: none;
}

/* MEDIA QUERIES */
@media screen and (min-width: 600px) {
  .leadboard {
    gap: 3rem;
  }
  .leadboard header {
    gap: 1rem;
  }
  .leadtable-col__time {
    display: table-cell;
  }
}

@media screen and (min-width: 768px) {
  .leadboard {
    font-size: 1.1rem;
  }
  .leadboard-table thead {
    font-size: 1.2rem;
  }
  .leadboard-table tbody {
    font-size: 1.1rem;
  }
}

@media screen and (min-width: 992px) {
  .leadboard {
    grid-template-columns: 30% 70%;
    grid-template-rows: auto;
    overflow: hidden;
    gap: 0;
    font-size: 1.2rem;
  }
  .leadboard header {
    gap: 2rem;
    padding-top: 5rem;
  }
  .leadboard-table {
    margin-left: 32px;
  }
}