/* =============================
 * Styles the components:
 * - GameCards
 * - Card
 * ============================= */
.gamecards {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.gamecards-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 4px;
  width: 294px;
  overflow: hidden;
}

.gamecards-list__item {
  width: 25%;
}

/* ==========================
 * == Card
 * ========================== */
/* this will dynamically be assigned .flip-card */
.card {
  width: 100%;
}
.card-wrapper {
  display: block;
  margin: 0 auto;
  height: 96px;
  perspective: 340px;
  transition: height 0.32s;
}

.card-wrapper,
.card-back,
.card-face {
  border-radius: 6px;
  width: 68px;
}

.card-back,
.card-face {
  position: absolute;
  height: 100%;
  width: auto;
  border: 1px solid #000;
}

.card-face {
  transform: rotateY(90deg);
  opacity: 0;
  box-shadow: 0 0 8px #000;
  transition: transform 0.22s, opacity 0s ease 0.21s;
}
.card-back {
  transform: rotateY(0deg);
  opacity: 1;
  transition: transform 0.22s ease 0.22s, opacity 0s ease 0.21s;
}

/* flip card on user click */
.flip-card .card-face{
  transform: rotateY(0deg);
  opacity: 1;
  transition: transform 0.22s ease 0.22s, opacity 0s ease 0.21s;
}

.flip-card .card-back{
  transform: rotateY(-90deg);
  opacity: 0;
  transition: transform 0.22s, opacity 0s ease 0.21s;
}

.card-match {
	transform: translateX(40px);
	transition: transform .8s cubic-bezier(0.1, 0.7, 1.0, 0.1);
}

/* MEDIA QUERIES */
@media screen and (min-width: 375px) {
  .gamecards-list {
    width: 348px;
  }
  .card-wrapper {
    height: 114px;
    width: 82px;
  }
}

@media screen and (min-width: 600px) {
  .gamecards-list {
    width: 560px;
  }
  .card-wrapper {
    height: 136px;
    width: 98px;
  }
}

@media screen and (min-width: 768px) {
  
}

@media screen and (min-width: 992px) {
  
}

@media screen and (min-width: 1200px) {
  
}
