.gameend {
  display: flex;
  flex-flow: column wrap;
  gap: 2rem;
  height: 100%;
  padding-top: 2rem;
}

.gameend-header {
  text-align: center;
}
.gameend-header h2 {}

.gameend-form {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.gameend-form__label {}

.gameend-form__label span {
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  margin-left: .4rem;
  padding: 0.4rem 1rem;
  width: 100%;
  background: rgb(var(--theme-dark-color));
}

.gameend-form__label p {
  border-radius: 6px;
  border: 2px solid rgb(var(--theme-red-color));
  padding: .4rem .6rem;
  margin: auto;
  width: 80%;
  background: rgb(var(--secondary-color));
  color: rgb(var(--theme-red-color));
  font-size: 1.1rem;
  font-weight: bold;
  text-align: center;
}

.gameend-form__label input {
  border: 2px solid rgb(var(--secondary-color));
  border-radius: 6px;
  margin: .2rem 0 .6rem;
  padding: .6rem .4rem;
  width: clamp(140px, 100%, 440px);
  font-size: 1.1rem;
  font-weight: bold;
  background: rgb(var(--secondary-color));
  color: rgb(var(--theme-dark-color));
}

.gameend-form__submit {
  height: 80px;
  width: 80px;
}

/* MEDIA QUERIES */
@media screen and (min-width: 768px) {
  .gameend {
    justify-content: center;
    padding-top: 0;
  }
  .gameend-header h2 {
    font-size: 2rem;
  }
  .gameend-form {
    gap: 2rem;
  }
}