.gameplay {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 80px auto;
  gap: .8rem;
  height: 100%;
  width: 100%;
}


/* MEDIA QUERIES */
@media screen and (min-width: 992px) {
  .gameplay {
    grid-template-columns: 30% 70%;
    grid-template-rows: auto;
  }
}